import os

# ############################## Program Description ##############################
# Latest Modified DateTime : 202006251000 ,
# Version = '0.1.4-beta.1',
# Author : 'FxxkrLab',
# Website: 'https://bbs.jsu.net/c/official-project/icopy/6',
# Code_URL : 'https://github.com/fxxkrlab/iCopy',
# Description= 'Copy GoogleDrive Resources via Telegram BOT',
# Programming Language : Python3',
# License : MIT License',
# Operating System : Linux',
# ############################## Program Description.END ###########################

TOKEN = os.environ.get("TELEGRAM_API_TOKEN", '填写bot Api Token')

ENABLED_USERS = os.environ.get("ENABLED_USERS", '填写个人TG ID')
ENABLED_USERS = set(int(e.strip()) for e in ENABLED_USERS.split(','))

#iCopy设置中"' JSUSPLIT '"为一个识别度高的命令分隔符请不要删除
#Run_Mode 中 "-P" 为必须参数, 请不要删除
#Clone = "填写你使用的程序"
Remote = "填写配置名"
Pre_Dst_id = "预定的Dst ID"
Run_Mode = "--drive-server-side-across-configs' JSUSPLIT '-P' JSUSPLIT '--ignore-existing"

#自定义并行 Transfers 数
Parallel_NUM = "10"
TRANSFER = "--transfers' JSUSPLIT '{}".format(Parallel_NUM)

#Service Accounts 所在文件夹路径
sa_path = (
    "Service Accounts 文件所在路径"
)