
[tg]

token = "Bot API Token HERE" # get from tg::botfather

usr_id = "user id HERE" # get from tg::@get_id_bot

[database]

db_connect_method = "mongodb+srv" # like "mongodb", "mongodb+srv",etc...

db_addr = "Your database address here" # mongodb host address

db_port = 27017 # mongodb connect port,default is 27017

db_name = "iCopy" # set Your mongodb collection_Name,default is "iCopy"

db_user = "Your mongodb user_Name HERE" # mongodb username

db_passwd = "Your mongodb user_Passwd HERE" # mongodb passwd

[general]

language = "cn" # cn / eng / jp,default is "cn"

cloner = "fclone" # Only fclone is suitable now,Future supports: rclone / gclone / autorclone

option = "copy" # cloner option,e.g. "copy" , "sync"

remote = "" # e.g. "fc" , "gc" , "rc", "sa" ,etc...

parallel_c = "4" # customize checkers_NUM,default = "16"

parallel_t = "4" # customize transfers_NUM,default = "32"

min_sleep = "1ms" # customize drive-pacer-min-sleep,default = "1ms"

sa_path = "/root/accounts" #Service_Accounts path,No slash at the end,default is "/root/accounts"

run_args = ['--log-level=DEBUG', '--log-file=/root/icopy_cloner_debug.log'] # status flags

[web]

dashboard = 0 # web service switch

port = 8000 # web service port, default is 8000.
